body {
  background-image: linear-gradient(to top right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
}

.container {
  margin: 50px auto;
  width: 800px;
  height: 100vh;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
}

input[type^="submit"] {
  width: 20%;
  height: 45px;
  background-color: #6673ff;
  color: white;
  font-weight: bold;
}